<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myimagica"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MyDreamApp</a>
    </div>
    <div class="collapse navbar-collapse" id="myimagica">
      <ul class="nav navbar-nav">
        <li><a href="#aboutus">About Us</a></li>
        <li><a href="#ourportifolio">Our Portifolio</a></li>
        <li><a href="#ourservice">Our Service</a></li>
        <li><a href="#moreinfo">More Information</a></li>
        <li><a href="#meetUs">Meet Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a><button class="nav-link" routerLink="sign-in" data-toggle="modal" data-target="#modal3"
              class="btn btn-primary">Sign
              In</button></a></li>
        <li><a><button data-toggle="modal" routerLink="logout" data-target="#modal4" type="button"
              class="btn btn-danger">Logout
            </button></a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Container 1 starts -->
<div class="container-fluid container1">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <p class="container1para1" id="aboutus">About Us</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <p id="container1para2">Hi there, we are glad you found us. This is team 'FOOD HOUSE' and we like to click
        picture.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <p class="container1para3">On this page you can find out what we have been up to lately and maybe even a little
        bit about where we will go in the future. The greatest thing about being photographer is being in the position
        to inspire other people. We take such pleasure in hearing that people have been motivated to create after seeing
        our pictures.</p>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <p class="container1para3">We provide support to those who really want to learn. For those who wants to capture
        and expolre the beauty of world we guide them and also provides the help. Being a photographer one should
        understand that photography is all about creativity. It all depends how you capture and magnify the world with a
        small lens.</p>
    </div>
  </div>
</div>
<!-- Container 1 ends -->
<!-- Container 2 start -->
<div class="container-fluid container2" id="ourportifolio">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <p class="container2para1">Our portifolio<br> Hope you like it.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12">
      <img src="/Photos/chinese1.jpg" alt="" height="200px" width="300px" class="img-responsive img-thumbnail center-img container2image">
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <img src="/Photos/chinese2.jpg" alt="" height="200px" width="300px" class="img-responsive img-thumbnail center-img container2image">
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <img src="/Photos/chinese3.jpg" alt="" height="200px" width="300px" class="img-responsive img-thumbnail center-img container2image">
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <img src="/Photos/chinese4.jpg" alt="" height="200px" width="300px" class="img-responsive img-thumbnail center-img container2image">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12">
      <img src="/Photos/5.jpg" alt="" height="200px" width="300px" class="img-responsive img-thumbnail center-img container2image">
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <img src="/Photos/6.jpg" alt="" height="200px" width="300px" class="img-responsive img-thumbnail center-img container2image">
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <img src="/Photos/7.jpg" alt="" height="200px" width="300px" class="img-responsive img-thumbnail center-img container2image">
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <img src="/Photos/8.jpg" alt="" height="200px" width="300px" class="img-responsive img-thumbnail center-img container2image">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12">
      <img src="/Photos/9.jpg" alt="" height="200px" width="300px" class="img-responsive img-thumbnail center-img container2image">
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <img src="/Photos/10.jpg" alt="" height="200px" width="300px" class="img-responsive img-thumbnail center-img container2image">
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <img src="/Photos/11.jpg" alt="" height="200px" width="300px" class="img-responsive img-thumbnail center-img container2image">
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <img src="/Photos/12.jpg" alt="" height="200px" width="300px" class="img-responsive img-thumbnail center-img container2image">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12">
      <img src="/Photos/13.jpg" alt="" height="200px" width="300px" class="img-responsive img-thumbnail center-img container2image">
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <img src="/Photos/14.jpg" alt="" height="200px" width="300px" class="img-responsive img-thumbnail center-img container2image">
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <img src="/Photos/15.jpg" alt="" height="200px" width="300px" class="img-responsive img-thumbnail center-img container2image">
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <img src="/Photos/16.jpg" alt="" height="200px" width="300px" class="img-responsive img-thumbnail center-img container2image">
    </div>
  </div>
</div>
<!-- container2 close -->
<!-- container3 starts -->
<div class="container-fluid container3" id="ourservice">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <p class="container3para1">Our Service In The<br>States</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading container3heading"><b>Uttar Pradesh</b></div>
        <div class="panel-body">
          <img src="/Photos/1.jpg" alt="" class="img-responsive img-thumbnail center-img container3image">
        </div>
        <div class="panel-footer container3footer1">
          <p>Uttar Pradesh is known for its diverse and rich culinary heritage, featuring both
            vegetarian and
            non-vegetarian dishes. Popular dishes include Awadhi Biryani, Lucknowi Biryani, Nihari, Tunday Kebab, and
            the street food like Chaat.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="panel panel-success">
        <div class="panel-heading container3heading"><b>Karnataka</b></div>
        <div class="panel-body">
          <img src="/Photos/10.jpg" alt="" class="img img-responsive img-thumbnail center-img container3image">
        </div>
        <div class="panel-footer container3footer">
          <p>Karnataka is known for its diverse and flavorful cuisine. Some of the most famous
            dishes include Mysore Pak
            (a sweet made of besan, sugar, and ghee), Bisi Bele Bath (a lentil and rice dish), Ragi Mudde (finger millet
            balls), dosa and Neer Dosa.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading container3heading"><b>Haryana</b></div>
        <div class="panel-body">
          <img src="/Photos/chinese3.jpg" alt="" class="img img-responsive img-thumbnail center-img container3image">
        </div>
        <div class="panel-footer container3footer">
          <p>Haryana is known for its hearty and flavorful cuisine, featuring dishes like
            Singri Ki Sabzi, sarso ka saag Bajra Aloo Roti, Hara Dhania Cholia. Other popular items include Kachri Ki Sabzi, Mixed
            Dal, and the
            sweet dishes like Malpua and Mithe Chawal. </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="panel panel-warning">
        <div class="panel-heading container3heading"><b>Bihar</b></div>
        <div class="panel-body">
          <img src="/Photos/5.jpg" alt="" class="img img-responsive img-thumbnail center-img container3image">
        </div>
        <div class="panel-footer container3footer">
          <p>Bihar is renowned for its diverse and flavorful cuisine, with Litti Chokha savory snacks being a
            quintessential dish.
            Other popular foods include Chana Ghugni, Dal Pitha, Kadhi Bari, and various sweets like Thekua, Malpua, and
            Khaja. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- container3 ends -->
<!-- container4 starts -->
<div class="container-fluid container4" id="moreinfo">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <p class="container4para1"><i>More Information About Food<br>Of India.</i></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12 col-sm-12">
      <img src="/Photos/6.jpg" alt="" class="img img-responsive img-thumbnail center-img container4image">
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <p class="container4para2">Indian cuisine is renowned for its diverse and flavorful dishes, influenced by regional
        variations and
        historical cultural interactions. It's characterized by a wide array of spices, herbs, and cooking methods,
        resulting in a broad spectrum of tastes and textures. While India doesn't have an official national dish,
        Chegg India suggests khichdi, a simple rice and lentil dish, is often regarded as such due to its versatility
        and cultural importance.</p>
    </div>
  </div>
</div>
<!-- container4 ends -->
<!-- container5 starts -->
<div class="container-fluid container5" id="meetUs">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <p class="container5para1"><i>Meet Us</i></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading container5heading">Book Order</div>
        <div class="panel-body container5body">Click below button to meet us.</div>
        <div class="panel-footer text-center">
          <button class="btn btn-primary" routerLink="book-order" data-toggle="modal" data-target="#button" type="button">Book
                        Order</button>
          <button class="btn btn-danger container5button2">Back</button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="panel panel-success">
        <div class="panel-heading container5heading">Book Order</div>
        <div class="panel-body container5body">Click below button to meet us.</div>
        <div class="panel-footer text-center">
          <button class="btn btn-primary" routerLink="book-order" data-toggle="modal" data-target="#button" type="button">Book
                        Order</button>
          <button class="btn btn-danger container5button2">Back</button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading container5heading">Book Order</div>
        <div class="panel-body container5body">Click below button to meet us.</div>
        <div class="panel-footer text-center">
          <button class="btn btn-primary" routerLink="book-order" data-toggle="modal" data-target="#button" type="button">Book
                        Order</button>
          <button class="btn btn-danger container5button2">Back</button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="panel panel-warning">
        <div class="panel-heading container5heading">Book Order</div>
        <div class="panel-body container5body">Click below button to meet us.</div>
        <div class="panel-footer text-center">
          <button class="btn btn-primary" routerLink="book-order" data-toggle="modal" data-target="#button" type="button">Book
                        Order</button>
          <button class="btn btn-danger container5button2">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>